<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css?v=4.3.0">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .table {
            margin-top: 24px;
        }

        .title-index {
            width: 100%;
            /* margin: 0 28px; */
            background: #E4E9EF;
            /* height: 98px; */
            margin-bottom: 28px;
            border-radius: 4px;
            padding-bottom: 25px;
        }

        .title-index>h3 {
            padding-top: 16px;
            font-size: 20px;
            color: #4a4a4a;
            margin-left: 15px;
            margin-bottom: 15px;
        }

        .title-index>p {
            margin-left: 25px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFangSC;
            font-weight: 400;
            color: rgba(74, 74, 74, 1);
            margin-bottom: 9px;
        }

        select {
            width: 70px;
            height: 37px;
            text-align: center;
            text-align-last: center;
        }
    </style>
</head>

<body>
    <div id="app" class="wrapper wrapper-content  animated fadeInRight">
        <div class="ibox-content">
            <div class="title-index">
                <h3>说明</h3>
                <p>1、显示已过期或即将过期的权益产品</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- 检索 start -->
                    <div class="form-inline" role="form" id="customerForm">
                        <div class="form-group">
                            <input class="form-control" id="nav-search-input" type="text" placeholder="请输入产品名称"
                                v-model="keywords">
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <input class="form-control" id="nav-search-input" type="text" placeholder="请输入卡号/卡密/链接"
                                v-model="keywords">
                        </div>
                        <div class="form-group">
                            <em>供应商：</em>
                            <select v-model="type" class="form-control" style="width:100px;">
                                <option value="">全部</option>
                                <option value="2">打折券</option>
                                <option value="3">抵用券</option>
                                <option value="4">满减券</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <em>状态：</em>
                            <select v-model="isOnsell" class="form-control" style="width: 100px;">
                                <option value="">全部</option>
                                <option value="0">已过期</option>
                                <option value="1">即将过期</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <input class="form-control" id="nav-search-input" type="text" placeholder="请选择开始时间"
                                v-model="keywords">
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <input class="form-control" id="nav-search-input" type="text" placeholder="请选择结束时间"
                                v-model="keywords">
                        </div>
                        <button type="submit" class="btn btn-htz btn-primary" @click="soso()">
                            <i class="icon icon_search"></i> 搜索
                        </button>
                        <button type="reset" class="btn btn-htz btn-success" @click="add()">
                            批量修改
                        </button>
                        <button type="reset" class="btn btn-htz btn-success" @click="add()">
                            导出excel
                        </button>
                    </div>
                    <!-- 检索 end -->
                </div>
                <div class="col-sm-12">
                    <table id="simple-table" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="20%">产品名称</th>
                                <th width="15%">卡号</th>
                                <th width="15%">卡密</th>
                                <th width="15%">链接</th>
                                <th width="15%">导入时间</th>
                                <th width="15%">过期时间</th>
                                <th width="5%">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-if="list.list != []">
                                <tr>
                                    <td>星巴克</td>
                                    <td>10016111111111111</td>
                                    <td>*****************</td>
                                    <td>www.baidu.com</td>
                                    <td>2020年4月28日17:10:35</td>
                                    <td>2020年4月28日17:10:35</td>
                                    <td class="btn-hide">
                                        <a>编辑</a>
                                    </td>
                                </tr>
                            </template>
                            <!-- <tr v-else>
                                <td colspan="6">
                                    暂时没有数据
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="pull-left form form-inline">
                        <div class="form-group form-group-sm">
                            共 {{list.total}} 条数据,每页显示
                            <select @change="getdata(1)" v-model="list.pageSize" class="form-control">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select> 条
                        </div>
                    </div>
                    <div class="pagi pull-right"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/module/module_pagination.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 自定义js -->
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/custom/common.js"></script>
<script src="../js/custom/SalesAssistant/index.js"></script>

<!-- ui库 -->



</html>