<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css?v=4.3.0">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../js/plugins/layui/css/layui.css" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .table {
            margin-top: 24px;
        }

        .title-index {
            width: 100%;
            /* margin: 0 28px; */
            background: #E4E9EF;
            /* height: 98px; */
            margin-bottom: 28px;
            border-radius: 4px;
            padding-bottom: 25px;
        }

        .title-index>h3 {
            padding-top: 16px;
            font-size: 20px;
            color: #4a4a4a;
            margin-left: 15px;
            margin-bottom: 15px;
        }

        .title-index>p {
            margin-left: 25px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFangSC;
            font-weight: 400;
            color: rgba(74, 74, 74, 1);
            margin-bottom: 9px;
        }

        select {
            width: 70px;
            height: 37px;
            text-align: center;
            text-align-last: center;
        }
    </style>
</head>

<body>
    <div id="app" class="wrapper wrapper-content  animated fadeInRight">
        <div class="ibox-content">
            <div class="title-index">
                <h3>说明</h3>
                <p>1、显示已过期或即将过期的权益产品</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- 检索 start -->
                    <div class="form-inline" role="form" id="customerForm">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="请输入产品名称" v-model="keywords">
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <input class="form-control" type="text" placeholder="请输入供应商名称" v-model="supplierName">
                        </div>
                        <div class="form-group">
                            <em>状态：</em>
                            <select v-model="type" class="form-control" style="width: 100px;">
                                <option value="0">已过期</option>
                                <option value="1">即将过期</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-left: 15px;" v-show="type == '0'">
                            <input class="form-control" id="start" type="text" placeholder="请选择开始时间" autocomplete="off">
                        </div>
                        <div class="form-group" style="margin-left: 15px;">
                            <input class="form-control" id="end" type="text" placeholder="请选择结束时间" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-htz btn-primary" @click="soso()">
                            <i class="icon icon_search"></i> 搜索
                        </button>
                        <button type="reset" class="btn btn-htz btn-success" @click="edits()">
                            批量修改
                        </button>
                        <button type="reset" class="btn btn-htz btn-success" @click="dowload()">
                            导出excel
                        </button>
                        <!-- <a :href=""></a> -->
                        <button type="reset" class="btn btn-htz  btn-danger" @click="dels()">
                            批量删除
                        </button>
                    </div>
                    <!-- 检索 end -->
                </div>
                <div class="col-sm-12">
                    <table id="simple-table" class="table table-responsive table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">
                                    <input type="checkbox" v-model="all" @change="bobo()">
                                </th>
                                <th width="10%">供应商</th>
                                <th width="20%">产品名称</th>
                                <th width="10%">卡号</th>
                                <th width="10%">卡密</th>
                                <th width="10%">链接</th>
                                <th width="15%">导入时间</th>
                                <th width="15%">过期时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template v-if="list.list != []">
                                <tr v-for="item in list.list">
                                    <td>
                                        <input type="checkbox" :value="item" v-model="goodslist"
                                            @change="console.log(goodslist)" class="xuan">
                                    </td>
                                    <td>{{item.supplierName || "--"}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.cardsNum || "--"}}</td>
                                    <td>{{item.cardsPassword || "--"}}</td>
                                    <td>{{item.link || "--"}}</td>
                                    <td>{{formatDateTime(item.createTime)}}</td>
                                    <td>{{formatDateTime(item.pastTime)}}</td>
                                </tr>
                            </template>
                            <!-- <tr v-else>
                                <td colspan="6">
                                    暂时没有数据
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="pull-left form form-inline">
                        <div class="form-group form-group-sm">
                            共 {{list.total}} 条数据,每页显示
                            <select @change="getdata(1)" v-model="list.pageSize" class="form-control">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select> 条
                        </div>
                    </div>
                    <div class="pagi pull-right"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="drool" class="ibox-content" style="display: none;">
    <div style="height: 20px;"></div>
    <div>
        <span style="display: inline-block; margin-left: 48px;"><i style="color: red;">*</i> 过期时间:</span>
        <input type="text" class="form-control" style="display: inline-block; width: 170px;margin-left: 10px;"
            id="test" autocomplete="off">
    </div>
    <button type="button" class="btn btn-htz btn-primary" style="display:block; margin: 0 auto; margin-top: 84px;"
        id="save">保存</button>
</div>

<div id="drool2" class="ibox-content" style="display: none;">
    <div style="height: 20px;"></div>
    <div>
        <span style="display: inline-block; margin-left: 48px;"><i style="color: red;">*</i> 过期时间:</span>
        <input type="text" class="form-control" style="display: inline-block; width: 170px;margin-left: 10px;"
            id="test1" autocomplete="off">
    </div>
    <button type="button" class="btn btn-htz btn-primary" style="display:block; margin: 0 auto; margin-top: 84px;"
        id="save2">保存</button>
</div>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/layui/layui.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/module/module_pagination.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 自定义js -->
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/custom/common.js"></script>
<script src="../js/custom/SalesAssistant/index.js"></script>
<!-- ui库 -->

<script>
    window.layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test', //指定元素
            type: "datetime",
        });

        laydate.render({
            elem: '#test1', //指定元素
            type: "datetime"
        });

        laydate.render({
            elem: '#start', //指定元素
            type: "date"
        });

        laydate.render({
            elem: '#end', //指定元素
            type: "date",
        });


        //由于弹窗不在Vue作用域 顾使用原生
        //1.单个修改
        document.getElementById("save").onclick = function () {
            let id = sessionStorage.getItem("goodsId")

            if ($("#test").val() == "") {
                layer.msg("请选择过期时间")
                return
            }

            let parmars = {
                ids: id,
                pastTime: $("#test").val()

            }
            console.log(parmars)
            $.ajax({
                url: config.api_update,
                type: "POST",
                data: parmars,
                success: res => {
                    console.log(res)
                    if (res.error == "00") {
                        layer.msg("修改成功")
                        layer.close(1)
                    }else{
                        layer.msg(res.msg)
                    }
                }
            })
        };


        //批量修改
        document.getElementById("save2").onclick = function(){
            let ids = sessionStorage.getItem("ids")
            sessionStorage.removeItem("ids")

            if ($("#test1").val() == "") {
                layer.msg("请选择过期时间")
                return
            }

            let parmars = {
                ids: ids,
                pastTime: $("#test1").val()

            }
            console.log(parmars)
            $.ajax({
                url: config.api_update,
                type: "POST",
                data: parmars,
                success: res => {
                    console.log(res)
                    if (res.error == "00") {
                        layer.msg("修改成功")
                        layer.close(1)
                    }else{
                        windos.layer.msg(res.msg)
                    }
                }
            })
        }


        //获取页面上所有多选框
        

    });
</script>



</html>