<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>新增商品</title>
<meta name="keywords" content="寒舍">
<meta name="description" content="寒舍">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css?v=4.3.0">
<link rel="stylesheet" href="../js/plugins/layui/css/layui.css">
<link rel="stylesheet" href="../css/animate.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/layout.css">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight" id="app">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- 检索 start -->
                <div class="form-inline" id="customerForm">
                    <div class="form-group">
                        <input id="nav-search-input" placeholder="请输入商品名称，编号" value="" class="form-control" type="text" v-model="keywords">
                    </div>
                    <div class="form-group">
                        <em>供应商</em>
                        <select class="form-control" style="width: 150px;" data-placeholder="请选择供应商" v-model="supplierId">

                        </select>
                    </div>
                    <div class="form-group">
                        <em>分类</em>
                        <select class="form-control" style="width: 150px;" data-placeholder="请选择分类" v-model="typeId">

                        </select>
                    </div>
                    <div class="form-group">
                        <em>分类</em>
                        <select class="form-control" style="width: 150px;" data-placeholder="请选择分类" v-model="typeId">

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" @click="search()">
                        <i class="icon icon_search"></i> 搜索
                    </button>
                    <button type="reset" class="btn btn-success pull-right" @click="jumpToGroup();">
                        <i id="nav-search-icon" class="icon plus"></i> 新增
                    </button>
                </div>
                <!-- 检索 end -->
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table id="simple-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="20%">组合名称</th>
                <th width="20%">价格区间</th>
                <th width="20%">上/下架状态</th>
                <th width="16%">上/下架时间</th>
                <th width="24%">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="list.total > 0" v-for="item in list.list">
                <td>{{item.title}}</td>
                <td>{{item.minPrice}}~~{{item.maxPrice}}</td>
                <td v-if="item.isOnsell == 0">已下架</td>
                <td v-else-if="item.isOnsell == 1">已上架</td>
                <td>{{item.onsellTime}}</td>
                <td>
                    <a class="btn btn-success" title="编辑" @click="edit();">编辑</a>
                    <a class="btn btn-success" v-if="item.isOnsell == 0" title="上架" @click="slotting(item.id,item.isOnsell);">上架</a>
                    <a class="btn btn-success" v-else-if="item.isOnsell == 1" title="下架" @click="driver(item.id,item.isOnsell);">下架</a>
                    <a class="btn btn-default" title="删除" @click="del(item.id);">删除</a>
                </td>
            </tr>
            <tr class="main_info" v-else>
                <td colspan="5">没有相关数据</td>
            </tr>
            </tbody>
        </table>
        <div class="pull-left form form-inline">
            <div class="form-group form-group-sm">
                共 {{list.total}} 条数据,每页显示
                <select @change="getData(1)" v-model="list.pageSize" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select> 条
            </div>
        </div>
        <div class="pagi pull-right"></div>
    </div>
</div>
<!-- 全局js -->
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/plugins/layui/layui.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/module/module_pagination.js"></script>
<!-- 自定义js -->
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/custom/common.js"></script>
<script src="../js/custom/combination/addGoods.js"></script>
</body>
</html>