<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的品牌</title>
    <meta name="keywords" content="寒舍">
    <meta name="description" content="寒舍">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css?v=4.3.0">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight" id="app">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-12">
                <!-- 检索 start -->
                <div class="form-inline" role="form" id="customerForm">
                    <div class="form-group">
                        <input class="form-control" id="nav-search-input" type="text" placeholder="请输入品牌名称" v-model="keywords">
                    </div>
                    <button type="submit" class="btn btn-htz btn-primary" @click="search()">
                        <i class="icon icon_search"></i> 搜索
                    </button>
                    <button type="reset" class="btn btn-htz btn-success" @click="jumpToBrand();">
                        <i id="nav-search-icon" class="icon icon_plus"></i> 新增
                    </button>
                </div>
                <!-- 检索 end -->
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table id="simple-table" class="table table-responsive table-bordered table-hover">
            <thead>
            <tr>
                <th width="30%">品牌名称</th>
                <th width="20%">负责人</th>
                <th width="15%">手机号码</th>
                <th width="15%">创建日期</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="list.total != 0">
                <tr v-for="item in list.list" :key="item.shopsBrandId">
                    <td>{{item.brandName}}</td>
                    <td>{{item.realName}}</td>
                    <td>{{item.mobilePhone}}</td>
                    <td>{{item.createTime}}</td>
                    <td class="btn-hide">
                        <a class="btn btn-success" title="编辑" @click="edit(item.id);">查看</a>
                        <!-- 二维码未完成 -->
                        <!-- <a class="btn btn-success" title="编辑">二维码</a>   -->
                        <a class="btn btn-default" title="删除" @click="del(item.shopsBrandId);">删除</a>
                    </td>
                </tr>
            </template>
            <tr class="main_info" v-else>
                <td colspan="5">没有相关数据</td>
            </tr>
            </tbody>
        </table>
        <div class="pull-left form form-inline">
            <div class="form-group form-group-sm">
                共 {{list.total}} 条数据,每页显示
                <select @change="getData(1)" v-model="list.pageSize" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                </select> 条
            </div>
        </div>
        <div class="pagi pull-right"></div>
    </div>
</div>
<!-- 全局js -->
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/module/module_pagination.js"></script>
<!-- 自定义js -->
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/custom/common.js"></script>
<script src="../js/custom/brands/index.js"></script>
</body>

</html>