<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增模板</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css?v=4.3.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/animate.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../js/plugins/layui/css/layui.css">
    <style>
        .title {
            color: #4A4A4A;
            background: #F5F5F5;
        }

        .main-info {
            overflow: hidden;
            line-height: 35px;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            margin-bottom: 30px;
        }

        .title-from {
            float: left;
            margin-left: 20px;
            width: 110px;
            text-align: right;
            font-size: 14px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666;
        }

        .title-input {
            float: left;
            margin-left: 20px;
            width: 625px;
        }

        .xing {
            color: #F64D62;
        }

        .tips {
            font-size: 10px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(74, 144, 226, 1);
            margin-top: 20px;
        }

        .imginfo {
            width: 100px;
            height: 100px;
        }

        .form-control {
            border-radius: 2px !important;
        }

        .row {
            margin-top: 35px;
            line-height: 35px;
        }

        .infos {
            font-size: 10px;
            color: #8B8B8B;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="ibox-content">
            <div class="title">
                请完善以下信息
            </div>
            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>模板名称：
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" v-model="name" placeholder="请输入模板名称">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>是否分项：
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-radio v-model="type" label="1">是</el-radio>
                        <el-radio v-model="type" label="0">否</el-radio>
                    </template>
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-popover placement="right" trigger="hover">
                            <span class="infos">权益卡里的权益是否分组显示 <a href="#"
                                    style="color: #4A90E2;text-decoration: underline;" @click="tips(1)">示例1</a> <a href="#"
                                    style="color: #4A90E2;text-decoration: underline;" @click="tips(2)">示例2</a></span>
                            <img src="../images/info.png" alt="" slot="reference"
                                style="width: 20px;height: 20px;line-height: 35px;">
                        </el-popover>
                    </template>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>主/次结构：
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-radio v-model="isMain" label="1">是</el-radio>
                        <el-radio v-model="isMain" label="0">否</el-radio>
                    </template>
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-popover placement="right" trigger="hover">
                            <span class="infos">权益卡里的权益是否以主次结构显示 <a href="#"
                                    style="color: #4A90E2;text-decoration: underline;" @click="tips(3)">示例1</a> <a href="#"
                                    style="color: #4A90E2;text-decoration: underline;" @click="tips(4)">示例2</a></span>
                            <img src="../images/info.png" alt="" slot="reference"
                                style="width: 20px;height: 20px;line-height: 35px;">
                        </el-popover>
                    </template>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>包含商家商品：
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-radio v-model="isGoods" label="1">是</el-radio>
                        <el-radio v-model="isGoods" label="0">否</el-radio>
                    </template>
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-popover placement="right" trigger="hover">
                            <span class="infos">权益卡是否显示商家商品</span>
                            <img src="../images/info.png" alt="" slot="reference"
                                style="width: 20px;height: 20px;line-height: 35px;">
                        </el-popover>
                    </template>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>包含广告：
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-radio v-model="isAD" label="1">是</el-radio>
                        <el-radio v-model="isAD" label="0">否</el-radio>
                    </template>
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-popover placement="right" trigger="hover">
                            <span class="infos">权益卡是否包含广告模块</span>
                            <img src="../images/info.png" alt="" slot="reference"
                                style="width: 20px;height: 20px;line-height: 35px;">
                        </el-popover>
                    </template>
                </div>
            </div>

            <div class="row" v-if="isAD == '1'">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>广告样式：
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-select v-model="ADstyle" placeholder="请选择广告形式">
                            <el-option
                              v-for="item in list"
                              :key="item.id"
                              :label="item.label"
                              :value="item.id">
                            </el-option>
                          </el-select>
                    </template>
                </div>
                <div class="col-sm-2">
                    <template>
                        <el-popover placement="right" trigger="hover">
                            <span class="infos">权益卡内广告模块的样式</span>
                            <img src="../images/info.png" alt="" slot="reference"
                                style="width: 20px;height: 20px;line-height: 35px;">
                        </el-popover>
                    </template>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>H5链接：
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" v-model="h5" placeholder="请输入模板H5页面链接地址">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    简介：
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" v-model="remark" placeholder="请输入模板简介">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1" style="text-align: right;">
                    <span class="xing">*</span>模板图片：
                </div>
                <div class="col-sm-5">
                    <div class="image-box">
                        <div style="margin-left: 10px; display: flex;" id="drool">
                            <div id="updataImage" class="imageup">
                                <img id="vivew" src="../images/imgadd.png" style="width: 100px;height: 100px;">
                            </div>
                            <div style="margin-left: 20px;color: rgba(74, 144, 226, 1);line-height: 180px;overflow: hidden;cursor: pointer;" @click="see()">预览</div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 362px;margin-top: 40px;">
                <button class="btn btn-htz btn-primary" @click="save()">保存</button>
            </div>
        </div>
        <el-dialog :title="title" :visible.sync="dialogVisible" width="450px">
            <img :src="images" alt="" style="width: 400px;">
        </el-dialog>

        <el-dialog :title="title" :visible.sync="dialogVisible2" width="450px">
            <div style="width: 400px;overflow: auto;">
                <img :src="images" alt="" style="width: 400px;">
            </div>
        </el-dialog>
    </div>
</body>
<script src="../js/jquery-2.1.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/plugins/layer/layer.min.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/module/module_pagination.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../js/qiniuyun/plupload.full.min.js"></script>
<script type="text/javascript" src="../js/qiniuyun/moxie.min.js"></script>

<!-- qiniu.js依赖于Plupload，所以Plupload要在qiniu.js之前引用 -->
<script type="text/javascript" src="../js/qiniuyun/qiniu.js"></script>
<script src="../js/qiniuyun/qiniuVip.js"></script>
<script src="../js/qiniuyun/qiniu-package.js"></script>
<script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>

<!-- 自定义js -->
<script src="../js/content.min.js?v=1.0.0"></script>
<script src="../js/custom/common.js"></script>
<script src="../js/custom/com/newedit.js"></script>

</html>